.navbar{
    height: 15vh;
    background: rgb(49,36,169);
    background: linear-gradient(0deg, rgba(49,36,169,1) 0%, rgba(21,12,89,1) 100%);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    a{
        height: 100%;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
        img{
            height: 33%;
            margin: 10px 10px;
        }
    }
    

    

    
}