.hero{
    
    width:100%;
    color: white;
    display: flex;
    justify-content: center;
    &__container{
        width: 95%;
        height: 150px;
        border-radius: 20px;
        margin: 20px 0;
    }
}