$type:(
    cover:'row',
    coverFlex:'column'

);
@each $container,$flex in $type{
    .#{$container}{
        display: flex;
        flex-direction: #{$flex};
        &__info{
            display: flex;

            
            &__image{
                width: 20%;
                display: flex;
                align-items: center;
                margin-right: 10px;
                img{
                    width: 100%;
                }
            }
        }
        &__prices{
            display: flex;
        
            &__discounts{
                color: purple;
            }
            &__total{
                &__noDiscount{
                    text-decoration-line: line-through;
                    text-decoration-color: red;
                }
            }
        }
    }
}
.cover{
   font-size: 0.8rem;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border: 1px solid red;
    
    

}
.coverFlex{
    border: 1px solid purple;
    font-size: 0.8rem;

}